@import './_vars';
@import '../../node_modules/include-media/dist/_include-media';

@mixin Desktop {
  @media screen and (min-width: $desktopPoint) {
    @content;
  }
}

@mixin Tablet {
  @media screen and (max-width: $desktopPoint - 1) {
    @content;
  }
}

@mixin Mobile {
  @media screen and (max-width: $mobilePoint - 1) {
    @content;
  }
}

@mixin Link($color: $blue, $hoverColor: $red) {
  color: $color;
  transition: color 0.2s ease-in-out;

  &:hover,
  &:active {
    color: $hoverColor;
    transition: none;
  }
}

@mixin H1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

@mixin H2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 7px;
}
