$white: #ffffff;
$black: #000000;
$red: #ff5000;

$primary: #2196f3;
$primary-hover: #31a6ff;
$dark-primary: #1976d2;
$light-primary: #bbdefb;
$accent: #8bc34a;
$primary-text: #212121;
$secondary-text: #757575;
$divider: #bdbdbd;

$desktopPoint: 1024px;
$mobilePoint: 480px;

$borderRadiusSmall: 4px;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 16px;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;
