@import '../../styles/_vars';
@import '../../styles/_mixins';

.informer {
    padding: 10px;
    border-radius: borderRadiusSmall;

    &.red {
        background-color: #ffd1d1;
        color: $red;
    }

    &.green {
        background-color: #d7ffd7;
        color: $accent;
    }
}